.storybook-welcome-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &-description {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #232323;
    
    .dark {
      color: #ffffff;
    }
  }

  &-version {
    color: #919191;
    cursor: pointer;

    a {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      color: #919191;
      font-size: 0.8rem;

      svg {
        margin-right: 10px;
      }

      svg, svg path {
        fill: #919191;
      }
    }
  }
}

