.asgardeo-storybook-welcome-header {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    min-width: 650px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../static/assets/images/welcome-banner.png");
    margin-bottom: 2em;

    &__text {
        color: #fff;
        font-family: "Montserrat";
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
        letter-spacing: -0.24px;
        text-align: left;
        margin-left: 87px;
        margin-top: -21px !important;
        width: 461px;
        align-content: center;
    }

    &__sub-text {
      color: #dbdbdb;
      width: max-content;
      font-size: 0.4em;
      border-top: 2px solid #6f6f6f;
      font-weight: 300;
      padding-right: 1em;
    }

    &_image {
        right: 0;
        position: absolute;
    }
}
