.oxygen-top-nav {
  border-left: none;
  border-right: none;
  border-top: none;

  .menu-icon-button {
    margin-right: 1rem;
  }

  .logo {
    margin-right: 0.5rem;
    max-height: 30px;
  }

  .logo-box {
    display: flex;
    align-items: center;

    &.with-link {
      cursor: pointer;
    }
  }

  .nav-settings {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    margin-right: 1rem;

    .setting {
      margin-right: 1rem;
    }
  }

  .user-dropdown-menu {

    .user-icon {
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  &.mobile {
    .menu-icon-button {
      margin-right: 0.5rem;
    }

    .nav-settings,
    .user-dropdown-menu {
      display: none;
    }

  }
}