$breakpoint-phone: 768px;
$border: 2px solid rgba(200, 200, 200, 0.37);

.oxygen-top-nav {
  border-bottom: $border;
  box-shadow: none;

  .menu-icon-button {
    @media (max-width: $breakpoint-phone) {
      margin-right: 0.5rem;
    }

    margin-right: 1rem;
  }

  .logo {
    margin-right: 0.5rem;
    max-height: 30px;
  }

  .logo-box {
    display: flex;
    align-items: center;

    &.with-link {
      cursor: pointer;
    }
  }

  .nav-settings {
    @media (max-width: $breakpoint-phone) {
      display: none;
    }

    display: flex;
    flex-grow: 1;
    justify-content: end;
    margin-right: 1rem;
  }

  .user-dropdown-menu {
    @media (max-width: $breakpoint-phone) {
      display: none;
    }

    .user-icon {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}