@font-face {
  font-family: 'Gilmer';
  src: url('assets/fonts/gilmer');
  src:
      url('assets/fonts/gilmer?#iefix') format('embedded-opentype'),
      url('assets/fonts/gilmer/gilmer-regular.woff2') format('woff2'),
      url('assets/fonts/gilmer/gilmer-regular.woff') format('woff'),
      url('assets/fonts/gilmer/gilmer-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilmer';
  src: url('assets/fonts/gilmer/gilmer-light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Gilmer';
    src: url('assets/fonts/gilmer/gilmer-medium.eot');
    src:
        url('assets/fonts/gilmer/gilmer-medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/gilmer/gilmer-medium.woff2') format('woff2'),
        url('assets/fonts/gilmer/gilmer-medium.woff') format('woff'),
        url('assets/fonts/gilmer/gilmer-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilmer';
    src: url('assets/fonts/gilmer/gilmer-bold.eot');
    src:
        url('assets/fonts/gilmer/gilmer-bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/gilmer/gilmer-bold.woff2') format('woff2'),
        url('assets/fonts/gilmer/gilmer-bold.woff') format('woff'),
        url('assets/fonts/gilmer/gilmer-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Gilmer';
  src: url('assets/fonts/gilmer/gilmer-heavy.otf');
  font-weight: 900;
  font-style: normal;
}

:root {
  --oxygen-font-family: 'Gilmer';
  --oxygen-palette-divider: rgba(255, 255, 255, 0.12);
}

body {
  font-family: var(--oxygen-font-family) !important;
}

.container .sidebar-container {
  border-right: 1px solid var(--oxygen-palette-divider);
}

.sbdocs .sbdocs-h2 {
  margin-top: 36px;
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -1px;
  text-align: left;
  display: grid;
}
