:root {
  --oxygen-font-family: 'Roboto', sans-serif;
  --oxygen-palette-divider: rgba(255, 255, 255, 0.12);
}

body {
  font-family: var(--oxygen-font-family);
}

.container .sidebar-container {
  border-right: 1px solid var(--oxygen-palette-divider);
}

.sbdocs .sbdocs-h2 {
  margin-top: 36px;
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -1px;
  text-align: left;
  display: grid;
}
